<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login User</title>
  </head>
  <body>
    <header>
      <h1>Bars</h1>
    <nav>
      <ul>
        <li>
          <a href="/users/login">Login</a>
        </li>
        <li>
          <a href="/users/new">Sign Up</a>
        </li>
      </ul>
    </nav>
    </header>
    <main>
      <form action="/users/login" method="POST">
        <input type="email" name="user[email]" placeholder="email"><br>
        <input type="password" name="user[password]" placeholder="password"><br>
        <input type="submit" value="Login">
      </form>
      <% if (message) { %>
        <p><%= message %></p>
      <% } %>
    </main>

  </body>
</html>
